HELP.md
backend/.gradle
backend/build/

!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
backend/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
backend/vscode/

### Kotlin ###
.kotlin

# --- 前端 (Vue/Node) ---
frontend/node_modules/
frontend/dist/
frontend/*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# --- 后端 (Java/Kotlin/Gradle) ---
backend/.gradle/
backend/build/
backend/out/
backend/bin/
backend/*.log
!backend/gradle-wrapper.jar  # 只有这个jar包通常建议保留，方便没装gradle的人

### 背景 ###
./background/
